<% content_for(:html_title) { 'パスワードリセット' } %>
<div class="container mt-2">
<div class="row ">
<div class="col-lg-12 col-md-12 col-sm-12">

<div class="reset-title text-family2 mx-auto">
    <div class="text-center title-position">
      <h3>パスワード変更画面<h3>
    </div>

    <%= form_with url: password_resets_path, local: true, method: :post do |form| %>
      <div class="form-group">
        <%= form.label :email, t('password_resets.new.email') %>
        <%= form.text_field :email, class: 'form-control', placeholder:"登録したメールアドレスを入力してください" %>
      </div>
      <div class="login-button text-center mt-5">
        <%= form.submit t('password_resets.new.send_mail'), class: 'btn btn--orange btn--cubic btn--shadow w-25' %>
      </div>
    <% end %>
</div>

</div>
</div>
</div>