<div class="container" >
<div class="row">
<div class="col-5 col-sm-12 col-lg-5 positiond-flex justify-content-center align-items-center mx-auto">

<h3>部下メンタル</h3>


<%= link_to 'ログイン', login_path, class: 'btn btn-info' %>
<%= link_to 'ゲストログイン', class: 'btn btn-info' %>


