
<div class="top-title d-flex align-items-center justify-content-center">
<div class="text-center ">
        <h3 class="text-size">Buka Mental</h3>
        <p>メンタルヘルスマネジメント可視化シュミレーションアプリ</p>
    <div class="top-login ">
        <%= link_to 'ログイン', login_path, class: 'btn btn-outline-secondary' %>
    </div>
</div>
</div>

<div class="top-app">
<div class="top-second" >
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-12 text-center text-color">
            <div class="control-roul">
                <p>1. メンタルヘルスマネジメントの登竜門</p>
            </div>
            <div class="control-roul2">
                <p>ここだけで終わらない現実に則した設計と問題</p>
                <p>何も知らないわからないの状態をなるほど！こういう分野か！まで引き上げる</P>
            </div>
            <div class="gif-background">
            <div class="sec_inner ">
	            <ul class="slider">   
	                <li class="img_01"><img src="https://i.gyazo.com/14ee2ecb895c6db961b0841f86c10574.gif" alt="Image from Gyazo" class="size"/></li>
	                <li class="img_02"><img src="https://i.gyazo.com/9894448e3591516cc4226e9efcc14f56.gif" alt="Image from Gyazo" class="size"/></li>
	                <li class="img_03"><img src="https://i.gyazo.com/75044e639b27581d37e5218f20caee38.gif" alt="Image from Gyazo" class="size"></li>
                </ul>
            </div>
            </div>
            <div class="control-roul">
                <p>2. メンタルが削れたらself careで回復</p>
            </div>
            <div class="control-roul2">
                <p>ランダムで出題される問題でストレスケアを学ぼう</p>
                <p>心身の健康あっての仕事！最高のパフォーマンスを維持しよう！</p>
            </div>
            <div class="gif-background">
            <div class="gif-img">
                <img src="https://i.gyazo.com/2a2b2a1f22c38db8e4f6224d272d1dd7.gif" alt="Image from Gyazo" class="size2"/>
            </div>
            </div>
            <div class="control-roul">
                <p>３. 全３役職！最短30分！クリアを目指そう！</p>
            </div>
            <div class="control-roul2">
                <p>役職が上がるごとに出題される難易度と削れるメンタル値が増えていきます</p>
                <p>メンタルは5分に３回復かSelf Care問題を解くと回復します。</p>
            </div>
        </div>
    </div>
</div>



<div class="mentalhelth-manegemento">
<div class= "control-roul6 mx-auto ">
     <div class="row">
            <div class="col-md-6">
                <div class="text-margin text4">
                    <p>メンタルヘルスマネジメントとは</p>
                </div>
                <div class="text3">
                <p>従業員それぞれが仕事で自身の能力を発揮して、</P>
                <p>活気ある職場にするためにメンタルヘルスケアの知識を持つこと。</p>
                </div>
                <div class="text-margin text4">
                    <p>年々増加するメンタルヘルス患者</p>
                </div>
                <div class="text3">
                <p>今求められる</p>
                <p>一人一人の関心と対策</p>
                <p>私たちは1人で働いているわけじゃない</p>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6">
            <div class="top-image">
                <%= image_tag "undraw.svg", size: "350x350" %>
            </div>
            </div>
            </div>
    </div>
</div>

</div>

<div class="last-app d-flex align-items-center justify-content-center">
<div class="text-center text-color">
    <div class="control-roul">さっそくはじめよう！</div>
        <p>このアプリがあなたの働き方を変えるきっかけになりますように</p>
</div>
</div>

</div>


