<h3>MHM診断</h3>

<%= link_to '初級', new_first_path, class: 'btn btn-outline-primary' %>
<%= link_to '中級', new_second_path, class: 'btn btn-outline-warning' %>
<%= link_to '上級', new_third_path, class: 'btn btn-outline-danger' %>

<%= link_to 'ログイン', login_path, class: 'btn btn-info' %>


