<% content_for(:html_title) { 'トップ' } %>
<div class="top-title d-flex align-items-center justify-content-center">
<div class="text-center ">
        <h2 class="text-size text-family">Buka Mental</h2>
        <p class="text-family">メンタルヘルスマネジメント可視化シュミレーションアプリ</p>
    <div class="top-login ">
        <%= link_to 'ログイン', login_path, class: 'btn btn-outline-secondary' %>
    </div>
</div>
</div>

