<section class="hero3 ">
    <div class="container "　>
    <div class="row ">
    <div class="col-md-12 text-center">
        <div class="mx-auto" >
            <h2 class="text-size text-family">IKEMENTAL</h2>
            <h5 class="text-family">メンタルヘルスマネジメント認知向上アプリ</h5>
            <%= image_tag "top_boy.png", :size =>'200x300', class: "top-buka-position" %>
            <div class="top-hukidasi">
                <p>あなたの働き方<br>メンタルにきてませんか？</p>
            </div>
            <div class="top-login-button">
            <div>
                <a href="/lessons" class="btn btn-border">チュートリアル</a>
            </div>
            <% if logged_in? %>
                <a href="/users" class="btn btn-border">ゲームスタート！</a>
            <% else %>
                <a href="/login" class="btn btn-border">ログインしてゲームスタート！</a>
            <% end %>
            </div>
        </div>
    </div>
</div>
</div>

</section>



