<% content_for(:html_title) { 'トップ' } %>
<div class="top-title d-flex align-items-center justify-content-center">
<div class="text-center ">
    <div class="top-box">
        <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-12">
        <h2 class="text-size text-family">Buka Mental</h2>
        <p class="text-family">メンタルヘルスマネジメント可視化シュミレーションアプリ</p>
        <%= image_tag "top_boy.png", :size =>'200x300' %>
        </div>
    </div>
    <div class="top-login ">
        <%= link_to 'ログイン', login_path, class: 'btn btn-outline-secondary' %>
    </div>
</div>
</div>

