<div class="container" >
<div class="row">
<div class="col-sm-12 positiond-flex justify-content-center align-items-center mx-auto">

<h3>部下の気持ちがわかる大臣</h3>


<%= link_to 'ログイン', login_path, class: 'btn btn-info' %>
<%= link_to 'ゲストログイン', class: 'btn btn-info' %>


