    <div class="boy-position1" style="display: none;">
        <%= image_tag "happy_boy.png" ,:size =>'110x220'%>
    </div>
    <div class="boy-position2" style="display: none;">
        <%= image_tag "sad_boy.png" ,:size =>'110x220'%>
    </div>
    <div class="boy-position3" style="display: none;">
        <%= image_tag "dead_boy.png" ,:size =>'190x160'%>
    </div>