<div class="hukidasi1" style="display: none;">
    <div class="balloon1 text-family2 text-center" ><p>ナイス！<br>次も頑張るぞ！<p></div>
</div>
<div class="hukidasi2" style="display: none;">
    <div class="balloon2 text-family2 text-center" ><p>ギリ・・<br>大丈夫・・</p></div>
</div>
<div class="hukidasi3" style="display: none;">
    <div class="balloon3 text-family2 text-center" ><p>これはあかん・・<br>優しくして</p></div>
</div>
<div class="hukidasi4" style="display: none;">
    <div class="balloon4 text-family2 text-center" ><p>お疲れ様！<br>次も頑張ろう！</p></div>
</div>




