<div class="hukidasi1" style="display: none;">
    <div class="bubble01" >ナイスな解答だ！</div>
</div>
<div class="hukidasi2" style="display: none;">
    <div class="bubble02" >まあまあの解答ね</div>
</div>
<div class="hukidasi3" style="display: none;">
    <div class="bubble03" >さすがにないわ..</div>
</div>
<div class="hukidasi4" style="display: none;">
    <div class="bubble04" >
    お疲れ様！
    次は実践編よ！
    気合入れてこう！
    </div>
</div>