<div class="mental-hukidasi-7" style="display: none;">
    <div class="balloon10 text-family3 text-center" ><p><i class="fas fa-heart"></i>+7</p></div>
</div>
<div class="mental-hukidasi-10" style="display: none;">
    <div class="balloon10 text-family3 text-center" ><p><i class="fas fa-heart"></i>-10</p></div>
</div>
<div class="mental-hukidasi-15" style="display: none;">
    <div class="balloon10 text-family3 text-center" ><p><i class="fas fa-heart"></i>-15</p></div>
</div>
<div class="mental-hukidasi-20" style="display: none;">
    <div class="balloon10 text-family3 text-center" ><p><i class="fas fa-heart"></i>-20</p></div>
</div>


<div class="experience-hukidasi-0" style="display: none;">
    <div class="balloon0 text-family4 text-center" ><p><i class="fas fa-arrow-up"></i>+0</p></div>
</div>
<div class="experience-hukidasi-5" style="display: none;">
    <div class="balloon0 text-family4 text-center" ><p><i class="fas fa-arrow-up"></i>+1</p></div>
</div>
<div class="experience-hukidasi-10" style="display: none;">
    <div class="balloon0 text-family4 text-center" ><p><i class="fas fa-arrow-up"></i>+2</p></div>
</div>