<div id="memo" style="display: none;">
<div class="col-md-11">
<div class="memo">
    <span class="masking-tape">
    </span>
    
    <% if user.physical_gage < 10 %>
        <p>仕事を行うメンタルが残っていません。</p>
        <p>休息をとるか、回復アイテムを使用しメンタルを回復してください</p>
    <% else %>
        <button type="button" class="first_question_start btn btn-outline-secondary w-75" >
            初級編
        </button>
        <p>まずは自身のストレスをコントロールする所から!</p>
        <p>負けない心を作っていこう！</p>
    <% end %>
</div>

<div class="memo1">
    <span class="masking-tape">
    </span>
    <% if user.physical_gage < 20 %>
        <p>仕事を行うメンタルが残っていません。</p>
        <p>休息をとるか、回復アイテムを使用しメンタルを回復してください</p>
    <% else %>
        <button type="button" class="second_question_start btn btn-outline-secondary w-75" >
            中級編
        </button>
        <p>実際に現場の事案を元に勉強していこう!</p>
        <p>部下の気持ちを考えてみて！</p>
    <% end %>
</div>

<div class="memo1">
    <span class="masking-tape">
    </span>
    <p>上級編！</p>
    <p>難易度の高い事案をあなたの働き方と照らして考えてみて!</p>
    <p>かなりレベルアップしてるぞ</p>
</div>

</div>
</div>

<div class="recovery-memo" style="display: none;">
    <div class="col-md-11">
        <div class="memo">
            <span class="masking-tape">
            </span>

            <p>メンタルが削られている時に無理に仕事をしてはいけません</p>
            <p>self careを行い回復してから仕事に向かいましょう！</p>
            <p>正解　ー＞　７回復</p>
            <P>不正解　ー＞　0回復</P>

        <button type="button" class="recovery_question_start btn btn-outline-secondary w-75" >
            Start!
        </button>
        </div>
    </div>
</div>

