<div id="memo" >

<div class="memo">
    <span class="masking-tape">
        Lv.Ⅰ　新入社員編
    </span>
    <% if user.physical_gage < 10 %>
        <div class=" question-start-text ">
            <p>メンタルを回復してください。</p>
        </div>
    <% else %>
        <div class="question-start-text3">
            <p>まずはストレスをコントロールする所から!</p>
            <p>負けない心を作っていこう！</p>
        </div>
        <button type="button" class="first_question_start btn-flat-border">Start!</button>
    <% end %>
</div>



<div class="memo1">
    <span class="masking-tape1">
        Lv.II　中間管理職編
    </span>
    <% if user.position == "ヨワヨワメンタル新入社員" %>
        <div class=" question-start-text ">
            <p>現役職ではできません。</p>
        </div>
    <% else %>
        <% if user.physical_gage < 15 %>
            <div class=" question-start-text ">
                <p>メンタルを回復してください。</p>
            </div>
        <% else %>
            <div class="question-start-text3">
                <p>実際に現場の事案を元に勉強していこう!</p>
                <p>部下の気持ちを考えてみて！</p>
            </div>
            <button type="button" class="second_question_start btn-flat-border1">Start!</button>
        <% end %>
    <% end %>
</div>

<div class="memo2">
    <span class="masking-tape2">
        Lv.III　幹部編
    </span>
    <% if user.position == "ヨワヨワメンタル新入社員" || user.position =="そこそこメンタル中間管理職" %>
        <div class=" question-start-text ">
            <p>現役職ではできません。</p>
        </div>
    <% else %>
        <% if user.physical_gage < 20 %>
            <div class=" question-start-text ">
                <p>メンタルを回復してください。</p>
            </div>
        <% else %>
            <div class="question-start-text3">
                <p>実際に起こった事案に挑戦だ！</p>
                <p>かなりレベルアップしてるぞ!</p>
            </div>
            <button type="button" class="third_question_start btn-flat-border2">Start!</button>
        <% end %>
    <% end %>
</div>

<div class="memo3">
    <span class="masking-tape">
        <i class="fas fa-heart"></i>　メンタル回復
    </span>
        <div class="question-start-text3">
            <p>メンタルを回復して仕事に戻ろう!</p>
            <p>Self Careは仕事をする上で欠かせないぞ！</p>
        </div>
        <button type="button" class="recovery_question_start btn-flat-border3">Start!</button>
</div>

</div>

