<div id="overlay" class="overlay"></div>

<div class="modal-window text-center">
    <% if @user.position == "ヨワヨワメンタル新入社員" %>
        <p>おめでとうございます</p>
        <h3>中間管理職へ昇進しました！</h3>
        <p>新しいTaskが開放されるのでぜひ挑戦してみてください！</p>
        <p>(経験値をリセットします)<p>
    <% elsif @user.position == "そこそこメンタル中間管理職" %>
        <p>おめでとうございます</p>
        <h3>幹部へ昇進しました！</h3>
        <p>新しいTaskが開放されるのでぜひ挑戦してみてください！</p>
        <p>(経験値をリセットします)<p>
    <% else %>
        <p>大変お疲れ様でした</p>
        <h3>全てのプログラムを完了致しました</h3>
        <p>メンタルヘルスマネジメントがどういったものか知っていただけましたか？</p>
        <p>是非これをきっかけに勉強してみてください！</p>
        <p>(経験値と役職をリセットします)</p>
    <% end %>
    <button class="js-close button-close">Close</button>
</div>