<div class="11" style="display: none;">
    <div class="question-field">
        <div id="result_score" class="question-result-score text-center text-style" style="text: center; padding-top: 20px;" >
            <p>あなたのメンタルマネジメント力は</p>
            <p><span class="spin-score"><%= 100 %></span>/100点です。</p>
            <%= render "result_comment" %>
        </div>
        <%= link_to 'Top', users_path, class: 'btn btn-outline-primary'%>
        <%= link_to "https://twitter.com/share?&url=https://buka-mental.herokuapp.com/&text=今日のおつまみはを試します！&hashtags=おつまみこ,今日のおつまみ&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer', class: "twitter btn" do %>
            <i class="fab fa-twitter share-button"></i>
        <% end %>
    </div>
</div>
