<div class="q_11" style="display: none;">
    <div class="question-field">
        <div id="result_score" class="question-result-score text-center text-style" style="text: center; padding-top: 20px;" >
            <p>あなたのメンタルマネジメント力は</p>
            <p><span class="spin-score"><%= 100 %></span>/100点です。</p>
            <%= render "result_comment" %>
        </div>
        <%= link_to 'Top', users_path, class: 'btn btn-outline-primary'%>
        <a href="https://twitter.com/share?url=初級編 あなたのマネジメント能力は40点でした。" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
</div>
