<p class="comment1 mb-3" style="display:none;" >部下の気持ちがよくわかってるぞ！<br>明日も仕事を頑張ろう！！</p>
<p class="comment2 mb-3" style="display:none;" >部下の気持ちがボチボチわかってるぞ！<br>次は100点だ！！</p>
<p class="comment3 mb-3" style="display:none;" >部下が少しだけ傷ついてる・・・<br>勉強して部下も育てていこう！！</p>
<p class="comment4 mb-3" style="display:none;" >もう少しで部下が潰れてしまう・・・<br>相手の気持ちを察してあげて・・</p>
<p class="comment5 mb-3" style="display:none;" >すでに部下は満身創痍だ・・・<br>もっともっと勉強しよう</p>
<p class="comment6 mb-3" style="display:none;" >危機感を持ちましょう・・・<br>部下はおそらく退職寸前です</p>


