<div class = memory style="display:none;">
    <%= image_tag "toumeimaru.png",width:"10%", height:"20px",class: "maru-position" %>
    <%= image_tag "toumeimaru.png",width:"15%", height:"30px", class: "maru-position2" %>
    <%= image_tag "toumeimaru.png",width:"30%", height:"65px", class: "maru-position3" %>
</div>