<div class = memory style="display:none;">
    <%= image_tag "toumeimaru.png",:size =>'20x20', class: "maru-position" %>
    <%= image_tag "toumeimaru.png",:size =>'40x40', class: "maru-position2" %>
    <%= image_tag "toumeimaru.png",:size =>'60x60', class: "maru-position3" %>
</div>