<h3><%= @user.name %></h3>

<div class="fixed-bottom">
<%= link_to 'Top', root_path, class: 'btn btn-info' %>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    基礎編
</button>
<div class="collapse" id="collapseExample">
    <div class="border p-3">
        あなたには上司になっていただき部下の坂本君を指導していただきます。
        健やかに働けるよう相手の立場に立って答えてみてください。
        <%= link_to 'スタート', new_first_path, class: 'btn btn-outline-primary' %>
    </div>
</div>

<button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    実践編
</button>
<div class="collapse" id="collapseExample">
    <div class="border p-3">
        あなたには上司になっていただき部下の坂本君を指導していただきます。
        健やかに働けるよう相手の立場に立って答えてみてください。
        <%= link_to 'スタート', new_second_path, class: 'btn btn-outline-primary' %>
    </div>
</div>

<button type="button" class="btn btn-danger" >
    簡単タスク
</button>

</div>

