
<div class="login-title">
    <div class="text-center">
        <h3>Create User</h3>
    </div>

	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="/users" method="post">
                    <input name="name" type="text" placeholder="name">
                    <input name="email" type="text" placeholder="email" class="email1">
                    <input name="password" type="password" placeholder="password">
                    <input name="password_confirmation" type="password" placeholder="password_confirmation">
                    <button class="btn btn-outline-info btn-block login" type="submit">Create</button>
                </form>
            </div>
    </div>

</div>


