<footer id="footer" class="footer">
  <div class="text-center ">
    <%= link_to '利用規約', terms_tops_path,class: "navbar-brand mt-2"%>
    <%= link_to 'プライバシーポリシー', privacy_tops_path, class: "navbar-brand mt-2" %>
    <%= link_to 'お問い合わせ', new_inquiry_path, class: "navbar-brand mt-2" %>
    <a href="https://twitter.com/OKcr8CtkFfRHkD3"><i class="fab fa-twitter" style="color: white;"></i></a>
    <p class="navbar-brand mt-2">Copyright © IKEMENTAL</p>
  </div>
</footer>
