
<nav class="footer navbar">
  <div class="inner mx-auto">
    <a class="navbar-brand" href="terms"><p class="text-size1">利用規約</p></a>
    <a class="navbar-brand" href="privacy"><p class="text-size1">プライバシーポリシー</p></a>
    <a class="navbar-brand" href="#"><p class="text-size1">お問い合わせ</p></a>
  </div>
</nav>