<footer id="footer" class="footer">
  <div class="text-center ">
    <%= link_to '利用規約', terms_tops_path,class: "navbar-brand mt-2"%>
    <%= link_to 'プライバシーポリシー', privacy_tops_path, class: "navbar-brand mt-2" %>
    <%= link_to 'お問い合わせ', new_inquiry_path, class: "navbar-brand mt-2" %>
  </div>
</footer>
