
<nav class="footer navbar">
  <div class="inner mx-auto">
    <%= link_to '利用規約', terms_tops_path, class: "navbar-brand"%>
    <%= link_to 'プライバシーポリシー', privacy_tops_path, class: "navbar-brand" %>
    <%= link_to 'お問い合わせ', new_inquiry_path, class: "navbar-brand" %>
  </div>
</nav>
