<nav class="header navbar">
  <a class="navbar-brand" href="/"><%= image_tag "logo.png", size: "180x40" %></a>
      <% if logged_in? %>
        <div class="text-right header-position" >
          <%= link_to 'ログアウト', logout_path, method: :post, class: "btn btn-outline-light" %>
        </div>
      <% else %>
        <div class="text-right header-position">
          <%= link_to '新規登録', new_user_path, class: "btn btn-outline-light" %>
          <%= link_to 'ログイン', login_path, class: "btn btn-outline-light" %>
        </div>
      <% end %>
</nav>

