<div class="container">
    <footer class="fixed-bottom">
        <div class="kiyaku bg-info text-light d-flex align-items-center justify-content-center" style="height:70px;">
            <ul>
                <li>利用規約</li>
                <li>お問い合わせ</li>
            </ul>
        </div>
    </footer>
</div>