<h3>上級編</h3>

<div id="q_01" >
  <p>
    Q1: 部下の坂本君は体調が悪く休職していましたがこの度、復職することになりました。
    あなたならどちらの声のかけ方をしますか？
  </p>
  <p>◯ -> 無理しなくていいからね</p>
  <p>× -> 気合入れてがんばれよ</p>
  <%= form_with url: firsts_path, method: :post, remote: true do %>
    <input type="hidden" name="id" id="send_data">
    <input class="send_data_selection1" data-send-id = "true" href="#q_02" type="submit" value="まる">
    <input class="send_data_selection1" data-send-id = "false" href="#q_02" type="submit" value="ばつ">
  <% end %>
</div>

<div id="q_02" style="display: none;" >
  <p>
    Q1: 部下の間で成果の取り合いが横行しているようです。あなたならどう声をかけますか？
  </p>
  <p>◯ -> 自分のことだけみてればいいよ</p>
  <p>× -> なんでそんなことをするんだい？</p>
  <%= form_with url: firsts_path, method: :post, remote: true do %>
    <input type="hidden" name="id" id="send_data">
    <input class="send_data_selection1" data-send-id = "true" href="#q_03" type="submit" value="まる">
    <input class="send_data_selection1" data-send-id = "false" href="#q_03" type="submit" value="ばつ">
  <% end %>
</div>

<div id="q_03" style="display: none;" >
  <p>
    Q1: あなたの会社はとても体育会系で暴力等での教育も認めています。あなたはどう教育しますか？
  </p>
  <p>◯ -> 会社の指示に従い体育会系の教育を</p>
  <p>× -> いけないことはいけないと思い他の手段をとる</p>
  <%= form_with url: firsts_path, method: :post, remote: true do %>
    <input type="hidden" name="id" id="send_data">
    <input class="send_data_selection1" data-send-id = "true" href="#q_02" type="submit" value="まる">
    <input class="send_data_selection1" data-send-id = "false" href="#q_02" type="submit" value="ばつ">
  <% end %>
</div>

