
    <div class="balloon20 text-family3" >
        <div class="example-text1 ">
            <p>チュートリアルへようこそ！</p><br>
            <p>ここではゲームの操作と機能を</p><br>
            <p>体感していただきます！</p><br>
            <p>こちらで本編の紹介も致しますの</p><br>
            <p>是非遊んでみてください！</p><br>
        </div>
        <div class="example-text2" style="display:none;">
            <p>このアプリは</p><br>
            <p>メンタルヘルスマネジメントについて</p><br>
            <p>知っていただくアプリになります！</p>
        </div>
        <div class="example-text3" style="display:none;">
            <p>選択肢に合わせて</p><br>
            <p>キャラクターと体力ゲージが変動し</p><br>
            <p>メンタルに影響を与えたかがわかります！</p>
        </div>
        <div class="example-text4" style="display:none;">
            <p>ログイン後はこの他に</p><br>
            <p>３つの機能が追加されます！</p>
        </div>
        <div class="example-text5" style="display:none;">
            <p>１. メンタルと経験値の管理</p><br>
            <p>タスク実行でメンタルが減り<br>問題を解くと経験値を得られます<br>管理しながら昇進を目指しましょう！</p><br>
            <img src="https://i.gyazo.com/b106613b02eb7413ad20e11922360a9a.gif" alt="Image from Gyazo" width="100%" height="120px"class="life-gazo"/>
        </div>
        <div class="example-text6" style="display:none;">
            <p>２. メンタル回復問題</p><br>
            <p>メンタルが減ったら回復問題で<br>心のケアをしましょう！<br>ゲージが少ないとタスクができないぞ！</p><br>
            <img src="https://i.gyazo.com/bbb81b034efc3715bc9fd57ba06ed8b2.png" alt="Image from Gyazo" width="100%" height="120px" class="life-gazo"/>
        </div>
        <div class="example-text7" style="display:none;">
            <p>３. 役職とステージ</p><br>
            <p>経験値をためると役職も上がるぞ！<br>３つの役職に応じて新ステージも解禁！</p><br>
            <img src="https://i.gyazo.com/04e2e2bb72cec09c02ce5f79e0a9ef92.png" width="100%" height="120px" alt="Image from Gyazo" class="life-gazo"/>
        </div>
        <div class="example-text8" style="display:none;">
            <p>以上３つの機能があなたの学びをサポート！</p><br>
            <p>社会で心を守るための術を</p><br>
            <p>楽しく身につけていきましょう！</p>
        </div>
        <div class="example-text9" style="display:none;">
            <p>状態を管理し</p><br>
            <p>自身の働き方と照らし合わせながら</p><br>
            <p>幹部職を目指そう！！</p>
        </div>
        <div class="example-text10" style="display:none;">
            <p>チュートリアルもおおづめ！</p><br>
            <p>最後に実際の問題を解いてみよう！</p>
        </div>
        <div class="example-text11 text-center" style="display:none;">
            <p>是非ログインして</p><br>
            <p>メンタルヘルスマネジメントの世界を</p><br>
            <p>体感してみてください！</p><br>
            <div class="example-button">
                <a href="/users/new" class="btn btn--orange btn--cubic btn--shadow ">新規登録</a>
            </div>
        </div>
    </div>
