<div class="11" style="display: none;">
    <div class="question-field">
        <div id="result_score" class="question-result-score text-center text-style" style="text: center; padding-top: 20px;" >
            <p>あなたのメンタルマネジメント力は</p>
            <h3><span class="spin-score"><%= 100 %></span>/100点です。</h3>
            <p class="mt-25">是非！ログインして経験とメンタル管理にも努めて見てください！</p>
        </div>
        <div class="text-center mt-25 ">
        <%= link_to "https://twitter.com/share?&url=https://buka-mental.herokuapp.com/&text=辞令　チュートリアルを終了しました。新入社員としての入社準備は完了です！&hashtags=メンタルヘルスマネジメント,ストレスケア&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer', class: "twitter btn btn--bulue btn--cubic btn--shadow text-center" do %>
            <p><i class="fab fa-twitter "></i><br>(辞令を発行して公開)</p>
        <% end %>
        </div>
    </div>
</div>
