.navbar-brand {
  color: #f9fbfe;
  font-size: 15px;
  margin-left: 1%;
  margin-right: 1%;
}

// .inner {
//     padding-top: 6px;
// }

//   .footer {
//     bottom: 0;
//     width: 100vw;
//     height: 60px;
//     background-color: #78BBE6;
//   }
