.light-page {
  width: 100%;
  background-color: #f9fbfe;
  padding-right: 3px;
  padding-left: 25px;
  padding-top: 10px;
}

.light-page2 {
  width: 100%;
  background-color: #f9fbfe;
  height: 630px;
  padding-right: 3px;
  padding-left: 15px;
  padding-top: 10px;
}

.light-page-top {
  margin: 20px;
}
