.back {
  background-color: #f9fbfe;
  width: 100%;
}

.login-title {
  margin-top: 200px;
  max-width: 500px;
  height: 500px;
  padding: 20px;
  margin-top: 30px;
  border: solid 3px #78bbe6;
  border-radius: 10px;
  font-family: 'ヒラギノ丸ゴ Pro W4', 'ヒラギノ丸ゴ Pro',
    'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'HG丸ｺﾞｼｯｸM-PRO', 'HGMaruGothicMPRO';
  font-weight: bold;
  background-color: #f9fbfe;
}

.login-title3 {
  margin-top: 200px;
  max-width: 500px;
  height: 550px;
  padding: 20px;
  margin-top: 30px;
  border: solid 3px #78bbe6;
  border-radius: 10px;
  font-family: 'ヒラギノ丸ゴ Pro W4', 'ヒラギノ丸ゴ Pro',
    'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'HG丸ｺﾞｼｯｸM-PRO', 'HGMaruGothicMPRO';
  font-weight: bold;
  background-color: #f9fbfe;
}

.inquiry-title {
  margin-top: 30px;
  max-width: 500px;
  height: 660px;
  padding: 20px;
  border: solid 3px #78bbe6;
  border-radius: 10px;
  font-family: 'ヒラギノ丸ゴ Pro W4', 'ヒラギノ丸ゴ Pro',
    'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'HG丸ｺﾞｼｯｸM-PRO', 'HGMaruGothicMPRO';
  font-weight: bold;
  background-color: #f9fbfe;
}

.new-title {
  margin-top: 200px;
  max-width: 500px;
  height: 630px;
  padding: 20px;
  margin-top: 30px;
  border: solid 3px #78bbe6;
  border-radius: 10px;
  font-family: 'ヒラギノ丸ゴ Pro W4', 'ヒラギノ丸ゴ Pro',
    'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'HG丸ｺﾞｼｯｸM-PRO', 'HGMaruGothicMPRO';
  font-weight: bold;
  background-color: #f9fbfe;
}

.reset-title {
  margin-top: 200px;
  max-width: 500px;
  height: 270px;
  padding: 20px;
  margin-top: 30px;
  border: solid 3px #78bbe6;
  border-radius: 10px;
  font-family: 'ヒラギノ丸ゴ Pro W4', 'ヒラギノ丸ゴ Pro',
    'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'HG丸ｺﾞｼｯｸM-PRO', 'HGMaruGothicMPRO';
  font-weight: bold;
  background-color: #f9fbfe;
}

.login-form {
  margin-top: 25px;
}

// タイトルとフォームの幅調整
.title-position2 {
  margin-bottom: 40px;
}
