.back{
  background-color: #f9fbfe;
  width: 100%;
}

.login-title{
    margin-top: 30px;
    // font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    font-weight: bold;
    background-color: #f9fbfe;
}

.login-form{
    margin-top: 25px;
}


// タイトルとフォームの幅調整
.title-position{
  margin-bottom: 40px;
}


