.memory{
    margin-left: 67%;
    padding-top: 20px;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 200px;
}

.maru-position{
    margin-top: 100px;
}

.maru-position2{
    margin-top: 70px;
}

.maru-position3{
    margin-top: 20px;
}