.memory{
    padding-top: 20px;
    position: absolute;
    z-index: 16;
    left: 73%;
    top: 270px;
    width: 45%;
    height: 200px;
}

.maru-position{
    margin-top: 100px;
}

.maru-position2{
    margin-top: 70px;
}

.maru-position3{
    margin-top: 20px;
}