.terms-title{
    padding-top: 90px;
    padding-bottom: 50px;
}

.terms-text{
    max-width: 800px;
}

.terms-text-content{
    margin-bottom: 50px;
}

.terms-text-subtitle{
    margin-bottom: 30px;
}