.btn{
    margin-bottom: 10px;
}

.status-page{
    margin-bottom: 5px;
    height: 230px;
}

.task-btn{
    margin-top: 60px;
}

.letter {
    background-color:#f9fbfe;
    margin: 10px auto 0;
    max-width: 1200px;
    position: relative;
    width: 85%;
    padding: 1px 20px 90px 20px;
}

.graph-position{
    margin-bottom: 60px;
}

.graph-style {
    margin-bottom: 35px;
    height: 150px
}
