.btn {
  margin-bottom: 10px;
}

.status-page {
  margin-bottom: 5px;
  height: 230px;
}

.task-btn {
  margin-top: 60px;
}

.letter {
  background-color: #f9fbfe;
  border: solid 3px #78bbe6;
  border-radius: 10px;
  //   s
  max-width: 1200px;
  //   position: relative;
  width: 100%;
  padding: 10px 20px 0px 20px;
  //   height: 650px;
}

.graph-position {
  margin-bottom: 60px;
}

.graph-style {
  // margin-bottom: 35px;
  height: 150px;
}

.privacy-border {
  border: solid 3px #78bbe6;
  border-radius: 10px;
  max-width: 1000px;
}

.arror-color {
  color: #ff7a00;
}
