// キャラクターを配置できるスペース

.charactor-position{
    width: 100%;
    height: 270px;
    // border:1px solid #78BBE6;
    margin-top: 70px;
}

.text-family3{
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    color: #f8a1d1;
    font-weight: bold;
  }

  .text-family4{
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    color: #ABC3F1;
    font-weight: bold;
  }

// hukidasi-mental-10,15,20

.balloon10 {
    position: absolute;
    display: inline-block;
    width: 18%;
    margin-top: 20px;
    padding: 7px 10px;
    color: #f8a1d1;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #f8a1d1;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    z-index: 20;
    margin-left: 10%;
  }
  
  .balloon10:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 20;
  }
  
  .balloon10:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #f8a1d1;
    z-index: 2;
  }
  
  .balloon10 p {
    margin: 0;
    padding: 0;
  }


  // 問題の解答結果の値＝１０

  .balloon0 {
    position: absolute;
    display: inline-block;
    width: 18%;
    margin-top: 20px;
    padding: 7px 10px;
    color: #ABC3F1;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #ABC3F1;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    z-index: 20;
    margin-left: 60%;
  }
  
  .balloon0:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 20;
  }
  
  .balloon0:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #ABC3F1;
    z-index: 2;
  }
  
  .balloon0 p {
    margin: 0;
    padding: 0;
  }


 // 問題の解答結果の値＝５

 .balloon5 {
    position: absolute;
    display: inline-block;
    width: 18%;
    margin-top: 20px;
    padding: 7px 10px;
    color: #f0ca6d;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #f0ca6d;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    z-index: 20;
    margin-left: 60%;
  }
  
  .balloon5:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 20;
  }
  
  .balloon5:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #f0ca6d;
    z-index: 2;
  }
  
  .balloon5 p {
    margin: 0;
    padding: 0;
  }


  // 問題の解答結果の値＝０

 .balloon11 {
    position: absolute;
    display: inline-block;
    width: 18%;
    margin-top: 20px;
    padding: 7px 10px;
    color: #f76a8c;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #f76a8c;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    z-index: 20;
    margin-left: 60%;
  }
  
  .balloon11:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 20;
  }
  
  .balloon11:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #f76a8c;
    z-index: 2;
  }
  
  .balloon11 p {
    margin: 0;
    padding: 0;
  }