.boy-position1{
    position: absolute;
    z-index: 30;
    margin-left: 35%;
    margin-top: 80px;
}

.boy-position2{
    position: absolute;
    z-index: 30;
    margin-left: 35%;
    margin-top: 80px;
}

.boy-position3{
    position: absolute;
    z-index: 30;
    margin-left: 22%;
    margin-top: 120px;
}