.masking-tape{
    position: absolute;
    top: -1em;
    left: 26%;
    width:100px;
    height:30px;
    background-image: linear-gradient(-45deg, rgba(227,155,140,.4) 25%, transparent 25%, transparent 50%, rgba(227,155,140,.4) 50%, rgba(227,155,140,.4) 75%, transparent 75%, transparent 100%);
    background-size: 20px 20px;
    border-left:2px dotted rgba(0,0,0,.1);
    border-right:2px dotted rgba(0,0,0,.1);
    box-shadow:0 0 5px rgba(0,0,0,.2);
    padding: 0.25em 2em;
    color: #65513f;
    transform: rotate(-4deg);
  }
  .memo p {
    color: #65513f;
    padding: 1px;
  }

  .memo {
    margin-top: 10px;
    position: relative;
    background: #F8F0D7;
    border-left:4px dotted rgba(0,0,0,.1);
    border-right:4px dotted rgba(0,0,0,.1);
    box-shadow:0 0 5px rgba(0,0,0,.2);
    padding: 1px;
    color: #65513f;
    width: 300px;
  }
  
  .memo1 {
    margin-top: 30px;
    position: relative;
    background: #F8F0D7;
    border-left:4px dotted rgba(0,0,0,.1);
    border-right:4px dotted rgba(0,0,0,.1);
    box-shadow:0 0 5px rgba(0,0,0,.2);
    padding: 1px;
    color: #65513f;
    width: 300px;
  }
