
  .swiper-container {
  .swiper-wrapper {
        border-radius: 5px;
        width:97%;
        padding: 0;
        border: 9px solid #248888;
        position: relative;
        z-index: 1;
        margin: 10px;
    }

  img {
      height: 300px;
    }

  }

  .swiper-container2 {
    .swiper-wrapper {
      border-radius: 5px;
      width:97%;
      padding: 0;
      border: 9px solid #E7475E;
      position: relative;
      z-index: 1;
      margin: 10px;
  }

img {
    height: 300px;
  }

  }
//   // スワイパーの処理は最後に
  // レスポンシブデザインも最後
  // 画像をここならで注文
  // 問題も作成
  // ローディング画面の実装準備
