// 回復アイテム画像に影をつける
.user-icon{
    border-radius: 50%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  }

// bootstrap ガター幅
.row-0{
  margin-left:0px;
  margin-right:0px;

  > div{
      padding-right:0px;
      padding-left:0px;
  }
}
.row-10{
  margin-left:-5px;
  margin-right:-5px;

  > div{
      padding-right:5px;
      padding-left:5px;
  }
}
.row-20{
  margin-left:-10px;
  margin-right:-10px;

  > div{
      padding-right:10px;
      padding-left:10px;
  }
}
.row-30{
  margin-left:-15px;
  margin-right:-15px;

  > div{
      padding-right:15px;
      padding-left:15px;
  }
}
.row-40{
  margin-top:310px;
  }
