.btn{
    margin-bottom: 10px;
}

.status-page{
    margin-bottom: 5px;
    height: 230px;
}

.task-btn{
    margin-top: 60px;
}




.letter {
    background:#f9fbfe;;
    // box-shadow: 0 0 10px rgba(0,0,0,0.3);
    // border: 1px solid #a7bbc7;
    margin: 10px auto 0;
    max-width: 1200px;
    // min-height: 300px;
    position: relative;
    width: 85%;
    padding: 20px 20px 90px 20px;
  }
  // .letter:before, .letter:after {
  //   content: "";
  //   height: 98%;
  //   position: absolute;
  //   width: 100%;
  //   z-index: -1;
  // }
  // .letter:before {
  //   background: #fafafa;
  //   box-shadow: 0 0 8px rgba(0,0,0,0.2);
  //   left: -5px;
  //   top: 4px;
  //   transform: rotate(-2.5deg);
  // }
  // .letter:after {
  //   background: #f6f6f6;
  //   box-shadow: 0 0 3px rgba(0,0,0,0.2);
  //   right: -3px;
  //   top: 1px;
  //   transform: rotate(1.4deg);
  // }

.graph-position{
    margin-bottom: 60px;
}

.graph-style {
    margin-bottom: 35px;
    height: 150px
}
